name: Run performance tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  performance-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # required for actions/checkout
      id-token: write # required for OIDC authentication with CodSpeed

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          version: "0.9.28"
          enable-cache: true

      - name: Install Tauri dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libwebkit2gtk-4.1-dev libayatana-appindicator3-dev

      - name: Install Python dependencies
        run: uv sync --locked

      - name: Install Playwright browsers
        run: uv run --no-sync playwright install chromium --with-deps

      - name: Run performance tests
        uses: CodSpeedHQ/action@fa0c9b1770f933c1bc025c83a9b42946b102f4e6 # v4.10.4
        with:
          mode: walltime
          run: uv run --no-sync pytest tests/performance --codspeed
