name: Run performance tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  performance-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # required for actions/checkout
      id-token: write # required for OIDC authentication with CodSpeed

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.9.22"
          enable-cache: true

      - name: Install Tauri dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libwebkit2gtk-4.1-dev libayatana-appindicator3-dev

      - name: Install Python dependencies
        run: uv sync --locked

      - name: Install Playwright browsers
        run: uv run --no-sync playwright install chromium --with-deps

      - name: Run performance tests
        uses: CodSpeedHQ/action@dbda7111f8ac363564b0c51b992d4ce76bb89f2f # v4.5.2
        with:
          mode: walltime
          run: uv run --no-sync pytest tests/performance --codspeed
